# Node
node_modules
npm-debug.log
yarn.lock
package-lock.json
build

# Build outputs
dist

# OS/IDE files
.DS_Store
*.log
*.tmp
*.swp

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Other
uploads
